<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaozhu.washcar.dao.order.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.xiaozhu.washcar.entity.order.Order" >
    <id column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR" />
    <result column="ORDER_AMOUNT" property="orderAmount" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
    <result column="CANCEL_TIME" property="cancelTime" jdbcType="TIMESTAMP" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDER_NO, CUSTOMER_ID, ORDER_AMOUNT, CREATE_TIME, PAY_TIME, CANCEL_TIME, START_TIME, 
    END_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaozhu.washcar.entity.order.Order" >
    insert into order (ORDER_NO, CUSTOMER_ID, ORDER_AMOUNT, 
      CREATE_TIME, PAY_TIME, CANCEL_TIME, 
      START_TIME, END_TIME)
    values (#{orderNo,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaozhu.washcar.entity.order.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="orderAmount != null" >
        ORDER_AMOUNT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="cancelTime != null" >
        CANCEL_TIME,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaozhu.washcar.entity.order.Order" >
    update order
    <set >
      <if test="customerId != null" >
        CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        ORDER_AMOUNT = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        CANCEL_TIME = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaozhu.washcar.entity.order.Order" >
    update order
    set CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      ORDER_AMOUNT = #{orderAmount,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      CANCEL_TIME = #{cancelTime,jdbcType=TIMESTAMP},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP}
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </update>
</mapper>